data
research
__pycache__

*.o
*.ko
*.obj
*.elf


*.map

*.a
*.lib

CryBabyCry/Middlewares/
CryBabyCry/Drivers
CryBabyCry/Debug
CryBabyCry/Release

*.su
*.d

*.bin
*.list

*.mk

audio_test.py
*.wav

.ai

