data
research
__pycache__

*.o
*.ko
*.obj
*.elf


*.map

*.a
*.lib

CryBabyCry/.mxproject
CryBabyCry/Middlewares/
CryBabyCry/Drivers
CryBabyCry/Debug
CryBabyCry/Release
CryBabyCry/X-CUBE-AI

*.su
*.d

*.bin
*.list

*.mk

audio_test.py
*.wav

.ai


*.launch
*.prefs

.ipynb_checkpoints
./cache
*.pkl
*.tflite
wandb

mcu_mfcc.txt
